extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Add a New Test
  .row
    .col-xs-12.col-md-12
      form.form-horizontal(action="", method="post", role="form")
        .form-group
          label.col-xs-10.col-sm-4.control-label(for="subject") Subject
          .col-xs-12.col-sm-2.col-md-2
            select#subject.form-control.input-sm(name="subject")
              option Reading
              option#writing Writing
              option Math
        .form-group
          label.col-xs-10.col-sm-4.control-label(for="gradeLevel") Grade Level
          .col-xs-12.col-sm-2.col-md-2
            select#gradeLevel.form-control.input-sm(name="gradeLevel")
              option Pre-K
              option KG
              option 1
              option 2
              option 3
              option 4
              option 5
              option 6
              option 7
              option 8
              option 9
              option 10
              option 11
              option 12
        #writingScores
          .form-group
            label.col-xs-10.col-sm-4.control-label(for="ideas") Ideas and Content
            .col-xs-12.col-sm-2.col-md-2
              input#ideas.form-control.input-sm(name="ideas")
          .form-group
            label.col-xs-10.col-sm-4.control-label(for="organization") Organization
            .col-xs-12.col-sm-2.col-md-2
              input#ideas.form-control.input-sm(name="organization")
          .form-group
            label.col-xs-10.col-sm-4.control-label(for="voice") Voice
            .col-xs-12.col-sm-2.col-md-2
              input#ideas.form-control.input-sm(name="voice")
          .form-group
            label.col-xs-10.col-sm-4.control-label(for="wordChoice") Word Choice
            .col-xs-12.col-sm-2.col-md-2
              input#ideas.form-control.input-sm(name="wordChoice")
          .form-group
            label.col-xs-10.col-sm-4.control-label(for="sentenceFluency") Sentence Fluency
            .col-xs-12.col-sm-2.col-md-2
              input#ideas.form-control.input-sm(name="sentenceFluency")
          .form-group
            label.col-xs-10.col-sm-4.control-label(for="conventions") Conventions
            .col-xs-12.col-sm-2.col-md-2
              input#ideas.form-control.input-sm(name="conventions")
        button.btn.btn-default.pull-right(href="/students/#{student._id}/tests/new") Add Test
