extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p IEP Turbo was created by me, Matthew Ehrlich. I am a former special education teacher who spent hours upon hours painstakingly administer tests and write IEPs. Hours that I could've spent teaching, planning lessons, or sitting by the pool.
      p IEP Turbo was designed to take some of the pain and time out of writing IEPs.
